
.news-info-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px;
    /*padding: 5px;*/
    /*border: 1px solid black;*/
    /*border-radius: 10px;*/
    /*width: 100%;*/
}

.news-text{
    width: 100%;
    word-wrap: break-word;
}

.news-button-container{
    display: flex;
    flex-direction: row;
    margin: 10px;
}
/*---------------------------------------------*/
.promotionNewsItem-info-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
    /*padding: 5px;*/
    /*border: 1px solid black;*/
    /*border-radius: 10px;*/
    width: 350px;
}
.promotionNewsItem-button-container{
    display: flex;
    flex-direction: row;
    margin: 10px;
}
/*---------------------------------------------*/
.eventNewsItem-info-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
    /*padding: 5px;*/
    /*border: 1px solid black;*/
    /*border-radius: 10px;*/
    width: 350px;
}
.eventNewsItem-button-container{
    display: flex;
    flex-direction: row;
    margin: 10px;
}