.main-booking-form-container {
    display: flex;
    flex-direction: column;

}
.second-booking-form-container {
    display: flex;
    flex-direction: row;
}
.second-booking-form-container {
    display: flex;
    flex-direction: row;
}
.form-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
}
.singleForm-container{
    display: flex;
    flex-direction: column;
}

.form-container form {
    margin-right: 10px;
    margin: 5px;
}

.main-booking-form-container button {
    width: 470px;
}
.singleForm-container input {
    width: 150px;
    margin: 5px;
}