.news-form-container {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    margin: 20px;
}
.singleForm-container textarea{
    width: 600px;
    height: 200px;
}

/*.form-container form {*/
/*    margin-right: 10px;*/
/*}*/

/*.form-container button {*/
/*    background-color: blue;*/
/*    color: white;*/
/*    border: none;*/
/*    padding: 10px;*/
/*}*/