.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    /*width: 900px;*/
    width: 100%;

}
.restaurant-form-single-container{
    display: flex;
    flex-direction: column;
}

/*.restaurant-form-single-container form {*/
/*    margin-right: 10px;*/
/*}*/

.restaurant-form-single-container button {
    /*background-color: blue;*/
    /*color: white;*/
    /*width: 50px;*/
    /*height: 10px;*/

}
.restaurant-form-single-container input {
width: 135px;
}