.user-form-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 20px;
    width: 600px;
}
.user-singleForm-container{
    display: flex;
    flex-direction: column;
    /*align-items: flex-end;*/
    width: 200px;
}

.user-form-container button{
    width: 80px;
}

.form-container button {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px;
}