.main-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.first-container{
    width: 15%;
}

.second-container{
    display: flex;
    flex-direction:column;
    /*justify-content: space-between;*/
    margin-top: 20px;
    width: 60%;

}

.third-container{
    display: flex;
    flex-direction:column;
    width: 25%;
    background: cornsilk;

}