.favorite-main-container {
    background: aquamarine;
    border: 1px solid black;
    width: 23%;
}

.favorite-info-container {
    display: flex;
    flex-direction: row;
}

.favorite-10-container h6 {
    overflow-wrap: anywhere;
}

.favorite-button-container {
    cursor: pointer;
    display: flex;
    flex-direction: column;

}
