
/*----------------------------------------*/
/*@media (max-width: 700px) {*/
/*    .app {*/
/*        padding-top: 10px;*/
/*    }*/
/*}*/
.main-app{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}